body{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    font-size: 18px;
    box-sizing: border-box;

}
.head{
    width: 100%;
    margin: 10px;
  
}

.head .logo{
    width: 40px;
  
   
}
form{
   display: inline;
   
   margin: auto 0px;
 }
 input:focus{
    background-color: rgb(237, 243, 243);
    outline:currentColor;
 }
 form input{
  width: 40%;
  height: 40px;
  font-size: large;
  font-family: sans-serif;
  border-radius: 8px;
  border: 1px ;
  background-color: rgb(245, 241, 241);
  
  position: relative;
  right: 30px;
  top: -10px;
}

 .vorod {
  float: left;
  margin-left: 30px;
  border: 1px solid rgb(206, 198, 198);
  border-radius: 10px;
    padding: 8px;
 }
 .vorod a{

    padding: 0px 5px;
    text-decoration: none;
    color: black;
 }
 .bordarraet{
    border-left: 2px solid black ;
 }
 .iconbazar{
    float: left;
    margin-left: 30px;
    margin-top: 10px;
 } 

.mnuo li{
    /* float: right; */
    display: inline;
   padding: 8px 20px;

    
}
ul li:hover{
    background-color: aqua;
    border-radius: 5px;

}

    


.albom img{
    width: 200px;
    padding: 20px;
    background-color: darkgray;
}
 